<?xml version="1.0"?>
<launch>
  <arg name="scenario_name" default="mini_umad"/>

  <node name="hector_change_map_node" pkg="hector_change_map" type="hector_change_map_node" respawn="true" output="screen">
    <remap from="/reset" to="/mason/processing_manager/clear_plugin" />
    <param name="frame_id" value="world" />    
    <rosparam param="maps" subst_value="True">
    - file: $(find argo_scenario_data)/maps/argo_$(arg scenario_name)/map.yaml
      publish_map:
        topic: flat_layer_map1
        frame_id: flat_layer_map1_frame
        publish_frame:
          translation: [0.0, 0.0, 0.0]
          rotation: [0.0, 0.0, 0.0, 1.0]
    </rosparam>
  </node>

</launch>
