<?xml version="1.0"?>
<launch>

  <arg name="scenario_name" default="argo_taurob_test_arena_v1"/>
  <node name="hector_change_map_node" pkg="hector_change_map" type="hector_change_map_node" respawn="true" output="screen">
    <remap from="/reset" to="/mason/processing_manager/clear_plugin" />
    <param name="frame_id" value="world" />
    <rosparam param="maps" subst_value="True">
    - topic: "map1"
      file: $(find argo_scenario_data)/maps/argo_$(arg scenario_name)/map.yaml
    - topic: "map2"
      file: $(find argo_scenario_data)/maps/argo_$(arg scenario_name)/map_floor_one.yaml
    - topic: "map3"
      file: $(find argo_scenario_data)/maps/argo_$(arg scenario_name)/map_floor_two.yaml
    </rosparam>
  </node>

</launch>
